.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  //단축 속성 flex 작성 순서 : flex-grow / flex-shrink / flex-basis
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  background-color: orangered;

  flex: 1; // it means element should grow as much as it can.
}
